{% extends 'base.html.twig' %}

{% block body %}

<h1>📝 Créer un nouvel article</h1>

{{ form_start(formulaire) }}

{{ form_row(formulaire.titre) }}
{{ form_row(formulaire.contenu) }}
{{ form_row(formulaire.auteur) }}
{{ form_row(formulaire.dateCreation) }}
{{ form_row(formulaire.publie) }}
{{ form_row(formulaire.categorie) }}

<button class="btn btn-success">Ajouter</button>

{{ form_end(formulaire) }}

{% endblock %}